/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp MINUS  &kp Q       &kp W       &kp E        &kp R        &kp T        &kp Y    &kp U        &kp I        &kp O         &kp P          &kp LBKT
&kp EQUAL  &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &kp G        &kp H    &mt LSHFT J  &mt K LCTRL  &mt LALT L    &mt LGUI SEMI  &kp SQT
&kp LSHFT  &lt 1 Z     &mt RALT X  &kp C        &kp V        &kp B        &kp N    &kp M        &kp COMMA    &mt RALT DOT  &lt 1 FSLH     &kp RBKT
                                   &kp DEL      &lt 3 BSPC   &kp ENTER    &kp TAB  &lt 2 SPACE  &kp ESC
            >;
        };

        Button_layer {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans  &trans    &trans    &trans     &trans     &trans    &trans  &trans     &trans     &trans    &trans    &trans
                            &trans     &trans     &trans    &trans  &trans     &trans
            >;
        };

        Nav_layer {
            bindings = <
&trans  &kp PAGE_UP  &kp HOME  &kp UP    &kp END        &kp INS       &kp  &kp  &kp  &kp  &kp  &trans
&trans  &kp PG_DN    &kp LEFT  &kp DOWN  &kp RIGHT      &caps_word    &kp  &kp  &kp  &kp  &kp  &trans
&trans  &kp          &kp       &kp       &kp            &kp           &kp  &kp  &kp  &kp  &kp  &trans
                               &kp DEL   &kp BACKSPACE  &kp RET       &kp  &kp  &kp
            >;
        };

        Num_layer {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT   &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp EQUAL  &kp N4  &kp N5   &kp N6  &kp SEMI   &trans
&trans  &trans    &trans    &trans     &trans     &trans    &kp BSLH   &kp N1  &kp N2   &kp N3  &kp GRAVE  &trans
                            &trans     &trans     &trans    &kp MINUS  &kp N0  &kp DOT
            >;
        };

        layer_4 {
            bindings = <
&trans  &bootloader  &trans    &trans     &trans     &trans    &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LGUI     &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans
&trans  &trans       &kp RALT  &trans     &trans     &trans    &trans  &trans     &trans     &kp RALT  &trans    &trans
                               &trans     &trans     &trans    &trans  &trans     &trans
            >;
        };
    };
};
